.button {
  font: inherit;
  font-size: 1.15rem;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #4f005d;
  background-color: #4f005d;
  color: white;
  border-radius: 12px;
}
.button:hover {
  background: #741188;
}
.button:focus {
  outline: none;
}
